<p> <%= flash[:notice] %> </p>

<h1>Log In</h1></br>

<%= form_tag '/sessions' do %>

  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %></br>
  <%= submit_tag "Log In", class: "#{default_button_class}" %></br></br></br></br>

<% end %>
