<p> <%= flash[:notice] %> </p>

<h1> <%= @need.headline %> </h1>
<h3> by: <%= link_to @need.user.name, user_path(@need.user) %><%= " (That's you!)" if need_belongs_to_user? %></h3>

<%= button_to "Edit Your Post", edit_need_path(@need), action: "get", method: "get", class: "#{default_button_class}" if need_belongs_to_user? %>


<% if @need.description %>
  <% if need_belongs_to_user? %>
    <h2> You said...</h2>
  <% else %>
    <h2> <%= @need.user.name %> said...</h2>
  <% end %>
  <p> <%= @need.description %></p>
<% end %>



<% if @need.expiration %>
<h2> Expiring on:</h2>
<%= need_expiration_formatted %><br><br>
<% end %>

<br>
<%= button_to "All Needs", needs_path, action: "get", method: "get", class: "#{default_button_class}"%><br>

<%= button_to "Reply", new_reply_path, action: "get", method: "get", params: {need_id: @need.id}, class: "#{default_button_class}" %>


<h2>Replies</h2>
<ul>
<% if @replies.empty? %>
  <p> Nobody has replied yet. Share your need and stay tuned! </p>
<% else %>
<% @replies.each do |reply| %>
  <% if !reply.comment.nil? && !reply.comment.empty? %>
  <li>"<%= reply.comment %>" &mdash; <%= link_to reply.user.name, user_path(reply.user) %><br>
  <% if reply.yes %><strong>(Yes, I want to help!)</strong><% end %> </li>
  <% else %>
  <li>   <strong>Yes, I want to help!</strong> &mdash; <%= link_to reply.user.name, user_path(reply.user) %></li>
  <% end %>
  <br> <% if current_user == reply.user.id %>
  <%= button_to "Edit", edit_reply_path(reply), class: "#{small_button_class}" %><br>

  <%= button_to "Delete", delete_reply_path(reply), method: :delete, class: "#{small_button_class}"  %><br><br>



  <% end %>

<% end %>
<% end %>
</ul>

<h2> Event Details </h2>

<% unless @need.events.blank? %>
  <p><%= link_to "Check out the event at #{@need.events.first.time_formatted}", need_event_path(@need, @need.events.first) %></p>
<% end %>

<% if @user == @need.user && @need.events.blank? %>
  <p><%= link_to "Ready to create an event?", new_need_event_path(@need) %></p>
<% elsif @user != @need.user && @need.events.blank? %>
  <p> There are no events created yet! </p>
<% end %>



<!-- Total number of replies, deadline -->
<!-- Add list of replies with their users-->
