
<p><%= flash[:notice] %></p>

<div>

<%= render 'group_details' %>

</div>



<%=  %>
<hr>
<h3> Admins:</h3>
<% @group.admins.each do |admin| %>
<%= link_to admin.display_name(@user.id), admin %>
<% end %>
<hr>


<%= render 'membership_list' %>
<%= render 'join_form'        if @group.not_member?(@user) %>
<%= render 'pending_requests' if @group.admin?(@user) %>
<hr>
<% unless @group.needs.empty? || !@group.member?(@user) %>
<h3>Group Needs</h3>
<% end %>
<% if @group.member?(@user) %>
  <%= render partial: 'shared/need_show',
      collection: @group.needs,
      as: :need  %>
<% end %>
