<h2> Edit your Account! </h2>
<%= link_to "Log Out", logout_path %></br></br>
<%= link_to "Delete your Account", user_path(@user), method: "DELETE" %></br>

</br></br>

<%= form_for @user do |f| %>

  <%= f.label "Name: " %>
  <%= f.text_field :name %></br></br>
  <%= f.label "Bio: " %>
  <%= f.text_area :bio %></br></br>
  <%= f.label "Photo: " %>
  <%= f.file_field :avatar %></br></br>
  <%= f.label "Zipcode: " %>
  <%= f.text_field :zipcode %></br></br>

  <%= f.submit "Save Changes" %>

<% end %>
