<%= flash[:notice] %>

<div class="center">
  <h1> Ready to become a Friend with Benefits? </h1>
</div>


<br></br>

<div class="row">

  <div class="col s6 center">
    <h4>Ask friends for help.</h4>
    <h4>Get replies.</h4>
    <h4>Create an event.</h4>
    <h4>Friends with benefits!</h4>
  </div>

  <div class="col s6">
    <div class="center">
      <h4>Log In</h4></br>
    </div>

    <%= form_tag '/sessions' do %>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <%= label_tag :password %>
      <%= password_field_tag :password %></br>
      <%= submit_tag "Log In", class: "#{default_button_class}" %></br></br></br></br>
    <% end %>
  </div>

</div>

</br></br>



<div class="col s12">

  <h4> Sign Up Below </h4></br>

  <%= form_for @user do |f| %>

    <%= f.label "Name: " %>
    <%= f.text_field :name %></br></br>
    <%= f.label "Email: " %>
    <%= f.text_field :email %></br></br>
    <%= f.label "Password: " %>
    <%= f.password_field :password %></br></br>
    <%= f.label "Confirm Password: " %>
    <%= f.password_field :confirm_password %></br></br>
    <%= f.label "Bio: " %></br>
    <%= f.text_area :bio %></br></br></br>
    <%= f.label "Photo: " %>
    <%= f.file_field :avatar %></br></br></br>
    <%= f.label "Zipcode: " %>
    <%= f.text_field :zipcode %></br></br>

  <%= f.submit "Sign Up", class: "#{default_button_class}" %>

  <% end %></br></br></br>
</div>
