
<% if @user.id == current_user %>
  <%= render 'ownershow' %>
<% else %>
  <%= render 'friendshow' %>
<% end %>


<h2><%= @user.name %></h2>
<%= image_tag @user.avatar.url(:thumb) %>

<h3><%= @user.bio %></h3>

<% unless @user.groups.blank? %>
  <h2>Proud member of:</h2>
  <% @user.groups.each do |group| %>
  <%= link_to group.title, group %>
  <% end %>
<% end %>

<% unless @user.needs.blank? %>
  <h2>User Needs</h2>
  <% @user.needs.each do |need| %>
    <%= link_to "#{need.headline}", need_path(need) %><br>
  <% end %>
<% end %>

<% if @user.id == current_user && !@user.events.blank? %>
  <h2> My Events </h2>
  <% @user.events.each do |event| %>
    <%= link_to "#{event.need.headline}", need_event_path(event.need, event) %>
  <% end %>
<% end %>

<% if @user.id == current_user %>
<br><br>
<%= button_to "Delete your Account", @user, :method => :delete, class: "#{default_button_class}" %></br></br></br>
<% end %>
