
<% if @user.id == current_user %>
  <%= render 'ownershow' %>
<% else %>
  <%= render 'friendshow' %>
<% end %>

<hr>
<h2><%= @user.name %></h2>
<div class="avatar">

<%= the_best_avatar(@user, class: 'thumbnail') %>


</div>

<h3>Bio:</h3><%= @user.bio %>
<% unless @user.groups.blank? %>
  <h3>Proud member of:</h3>
  <% @user.groups.each do |group| %>
  <%= link_to group.title, group %>
  <% end %>
<% end %>
<hr>

<% unless @user.needs.blank? %>
  <h3>User Needs</h3>
  <% @user.needs.each do |need| %>
    <%= link_to "#{need.headline}", need_path(need) %><br>
  <% end %>
<% end %>
<hr>

<h3> My Events </h3>
<% if @user.id == current_user && @user.events.blank? %>
  <p>You have no upcoming (or past) events! </p>
  <p><%= link_to "Ask for help", new_need_path %> | <%= link_to "Start helping your friends today!", needs_path %> </p>
<% end %>

<% if @user.id == current_user && !@user.events.blank? %>
  <% if @events[:upcoming_events] %>
    <h4> Upcoming Events </h4>
    <% @events[:upcoming_events].each do |event| %>
     <%= link_to "#{event.need.headline}", need_event_path(event.need, event) %> (<%= event.time_formatted %>)<br>
    <% end %>
  <% end %>
  <% if @events[:past_events] %>
    <h4> Past Events </h4>
    <% @events[:past_events].each do |event| %>
      <%= link_to "#{event.need.headline}", need_event_path(event.need, event) %> (<%= event.time_formatted %>)<br>
    <% end %>
  <% end %>
  <hr>
<% end %>
<br>

<% if @user.id == current_user %>

<br>
<%= button_to "Log Out", logout_path, :method => :get, class: "#{default_button_class}" %></br></br>
<%= button_to "Edit your Account", edit_user_path, class: "#{default_button_class}" %></br></br>
<%= button_to "Delete your Account", @user, :method => :delete, class: "#{default_button_class}" %></br></br></br>


<% end %>
