
<% if @user.id == current_user %>
  <%= render 'ownershow' %>
<% else %>
  <%= render 'friendshow' %>
<% end %>

<hr>
<h2><%= @user.name %></h2>
<%= image_tag @user.avatar.url(:thumb) %>

<h2>Bio:</h2><%= @user.bio %>
<% unless @user.groups.blank? %>
  <h2>Proud member of:</h2>
  <% @user.groups.each do |group| %>
  <%= link_to group.title, group %>
  <% end %>
<% end %>
<hr>

<% unless @user.needs.blank? %>
  <h2>User Needs</h2>
  <% @user.needs.each do |need| %>
    <%= link_to "#{need.headline}", need_path(need) %><br>
  <% end %>
<% end %>
<hr>

<h2> My Events </h2>
<% if @user.id == current_user && @user.events.blank? %>
  <p>You have no upcoming (or past) events! </p>
  <p><%= link_to "Ask for help", new_need_path %> | <%= link_to "Start helping your friends today!", needs_path %> </p>
<% end %>

<% unless @user.id == current_user && !@user.events.blank? %>

  <% if @events[:upcoming_events] %>
    <h3> Upcoming Events </h3>
    <% @events[:upcoming_events].each do |event| %>
     <%= link_to "#{event.need.headline}", need_event_path(event.need, event) %> (<%= event.time_formatted %>)<br>
    <% end %>
  <% end %>
  <% if @events[:past_events] %>
    <h3> Past Events </h3>
    <% @events[:past_events].each do |event| %>
      <%= link_to "#{event.need.headline}", need_event_path(event.need, event) %> (<%= event.time_formatted %>)<br>
    <% end %>
  <% end %>
  <hr>
<% end %>
<br>

<% if @user.id == current_user %>
<br>
<%= button_to "Log Out", logout_path, :method => :get %></br>
<%= button_to "Edit your Account", edit_user_path %></br>
<%= button_to "Delete your Account", @user, :method => :delete %></br>
<% end %>
